<div class="card">
    <h5>Solicitudes Asociadas a la Organización</h5>
    <p-table [value]="requests" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre del Solicitante</th>
                <th>Email del Solicitante</th>
                <th>Teléfono del Solicitante</th>
                <th>Estado</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Actualización</th>
                <th>Fecha de Cierre</th>
                <th>Comentario</th>
                <th>Requisitos Adicionales</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr>
                <td>{{ request.requestId }}</td>
                <td>{{ request.applicantName }}</td>
                <td>{{ request.applicantEmail }}</td>
                <td>{{ request.applicantPhone }}</td>
                <td>{{ request.state }}</td>
                <td>{{ request.creationDate | date:'short' }}</td>
                <td>{{ request.updateDate | date:'short' }}</td>
                <td>{{ request.closedDate ? (request.closedDate | date:'short') : 'N/A' }}</td>
                <td>{{ request.comment }}</td>
                <td>{{ request.additionalRequirements }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>