<div class="card">
    <h5>Solicitudes Asociadas a la Organización</h5>
    <p-table [value]="requests" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre del Solicitante</th>
                <th>Email del Solicitante</th>
                <th>Teléfono del Solicitante</th>
                <th>Dirección del Solicitante</th>
                <th>Nombre de la Organización</th>
                <th>Estado</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Actualización</th>
                <th>Fecha de Cierre</th>
                <th>Comentario</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr>
                <td>
                    <button pButton pRipple type="button" (click)="onSelectRequest(request.requestId)"
                        class="p-button-text">
                        {{ request.requestId }}
                    </button>
                </td>
                <td>{{ request.firstName }} {{ request.lastName }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.phoneNumber }}</td>
                <td>{{ request.address }}</td>
                <td>{{ request.organizationName }}</td>
                <td>{{ request.state }}</td>
                <td>{{ request.creationDate | date:'short' }}</td>
                <td>{{ request.updateDate | date:'short' }}</td>
                <td>{{ request.closedDate ? (request.closedDate | date:'short') : 'N/A' }}</td>
                <td>{{ request.comment }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>