<div class="card">
    <p-fieldset legend="Información General" [toggleable]="true">
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>ID de la Solicitud:</strong></label>
                    <p>{{requestDetails?.requestId}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Estado:</strong></label>
                    <p>{{requestDetails?.state}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Fecha de Creación:</strong></label>
                    <p>{{requestDetails?.creationDate | date: 'medium'}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Fecha de Actualización:</strong></label>
                    <p>{{requestDetails?.updateDate | date: 'medium'}}</p>
                </div>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="Información del Solicitante" [toggleable]="true">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Nombre:</strong></label>
                    <p>{{requestDetails?.firstName}} {{requestDetails?.lastName}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Email:</strong></label>
                    <p>{{requestDetails?.email}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Teléfono:</strong></label>
                    <p>{{requestDetails?.phoneNumber}}</p>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label><strong>Dirección:</strong></label>
                    <p>{{requestDetails?.address}}</p>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-field">
                    <label><strong>Organización:</strong></label>
                    <p>{{requestDetails?.organizationName}}</p>
                </div>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="Información Adicional" [toggleable]="true">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-field">
                    <label><strong>Comentario:</strong></label>
                    <p>{{requestDetails?.comment}}</p>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>