<header class="app-header">
    <div class="header-content">
        <img src="assets/layout/images/logo.png" alt="logo" class="header-logo">
        <span>Certificaciones Digitales Digicert</span>
    </div>
</header>

<div class="form-container">
    <p-toast></p-toast>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Solicitud de Trámite Digital</h5>
                <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="additionalRequirements">Requisitos Adicionales</label>
                        <input pInputText id="additionalRequirements" formControlName="additionalRequirements">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="applicantName">Nombre :</label>
                        <input pInputText id="applicantName" formControlName="applicantName" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="applicantId">Carnet de Identidad :</label>
                        <input pInputText id="applicantId" formControlName="applicantId" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="applicantEmail">Email :</label>
                        <input pInputText id="applicantEmail" formControlName="applicantEmail" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="applicantPhone">Teléfono :</label>
                        <input pInputText id="applicantPhone" formControlName="applicantPhone" />
                    </div>
                    <div class="field col-12">
                        <button type="submit" pButton label="Enviar" [disabled]="!requestForm.valid"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="app-footer">
    <div class="footer-content">
        <img src="assets/layout/images/logo.png" alt="logo" class="footer-logo">
    </div>
</footer>
